<?xml version="1.0"?>
<config>
    <modules>
        <Linus_CanadaPost>
            <version>0.1.0</version>
        </Linus_CanadaPost>
    </modules>
    <global>
        <models>
            <linus_canadapost>
                <class>Linus_CanadaPost_Model</class>
            </linus_canadapost>
        </models>
        <blocks>
            <linus_canadapost>
                <class>Linus_CanadaPost_Block</class>
            </linus_canadapost>
        </blocks>
        <helpers>
            <linus_canadapost>
                <class>Linus_CanadaPost_Helper</class>
            </linus_canadapost>
        </helpers>
        
    </global>
    
    <frontend>
        <routers>
            <linus_canadapost>
                <use>standard</use>
                <args>
                    <module>Linus_CanadaPost</module>
                    <frontName>canadapost</frontName>
                </args>
            </linus_canadapost>
        </routers>
        <layout>
            <updates>
                <linus_canadapost module="Linus_CanadaPost">
                    <file>linus_canadapost.xml</file>
                </linus_canadapost>
            </updates>
        </layout>
    </frontend>

    <default>
        <linus_canadapost>
            <api>
                <userid></userid>
                <password></password>
            </api>
            <maps>
                <key></key>
            </maps>
        </linus_canadapost>
    </default>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <linus_canadapost>
                                            <title>LinusCanadaPost - All</title>
                                        </linus_canadapost>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
